.inputNumberStyle {
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
}

.datePickerStyle {
  background-color: #fff;
  color: #000;
  width: 100%;
}

.datePickerStyle .ant-picker-input input {
  color: #000 !important;
}

.checkBoxStyle {
  color: #000;
}
